{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Card Created</title>
    <link rel="shortcut icon" href="{% static 'images/correct.svg' %}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        
        h1,
        p {
            text-align: center;
        }
        
        .navbar {
            font-family: 'Montserrat';
            font-size: 20px;
            background-color: black;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="/">Cse and Me Guys</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.youtube.com/channel/UCiLbuCBOECNHassJYvCR4tg" target="_blank">Youtube <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <br/><br/>
        <div>
            <img src="{% static 'images/form.svg' %}" class="center" style="height: 200px; width: 50%;">
        </div>
        <br/><br/><br/><br/>
        <div class="jumbotron text-center">
            <h1 class="display-3">Card Created!</h1>
            <p class="lead"><strong>A card has been added to your database, </strong> kindly check the database admin interface or go to that particular playlist the card was created for, Have a great day :)</p>
            <hr>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="#" onclick="history.go(-1); return false;" role="button">Continue to homepage</a>
            </p>
        </div>

    </div>